.single-news {
    @include site-container();
    margin-top: $base-content-padding;
    &__title {
        color: white;
    }

    &__background {
        height: 600px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        box-shadow: inset 0 -152px 126px -52px #a6abab;
        margin-bottom: $base-content-padding;
        
        h1 {
            margin-bottom: 8px;
            margin-left: 8px;
        }
    }
}



.comment {
    padding: $base-content-padding;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    margin-bottom: $base-content-padding/2;
}

.comment-reply-link {
    margin-bottom: $base-content-padding/2;
}

ol {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
  }